/* #content{
    margin: 10px;
  } */
  
  .sfb-header-container{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .simple-input{
    width: 400px;
  }
  
  #field-sitewide-search{
    width: 400px;
  }

 .item-label{
   white-space: initial !important;
  width: 90%;
  display: inline-block;
 }

#data-resource-sfb-table{
  width: 80% !important;
}

.custom-image-view-warpper > img{
  max-width: 50%;
  height: auto;
}
