/* #content{
    margin: 10px;
  } */
  
  .sfb-header-container{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .simple-input{
    width: 400px;
  }
  
  #field-sitewide-search{
    width: 400px;
  }